.bodyBox {
    background-color: #f7f7f7;
    border-bottom: solid white;
    border-left: solid white;
    border-right: solid white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.paddingModaleComponent {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}